footer{
    background-color: azure;
    border-top: 1px solid gray;
    margin-top: 10px;
    padding: 10px;
}
footer ul li{
    
    list-style-type: none;
    text-align: right;
    padding-right: 10px;
}